@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&family=Montserrat:wght@400;700&family=Roboto+Slab:wght@400;700&family=Zen+Dots&display=swap');

:root {
    --orange: #ff8700;
    --lightOrange: #ffa977;
    --lightGrey: #a5a5a5 ;
    --darkGrey: #202732;
}

#congratBox {
    margin: 5% 45% 30% 10%;
    background-color: var(--orange);
    border: 5px black solid;
    padding: 2%;
    font-family: 'Roboto Slab';
}

#congratBox h1 {
    font-size: 5vh;
}

#congratBox h2 {
    font-size: 2vh;
}

body {
    background-image: url('Congrats.jpg');
}

#logo {
   position: absolute;  
   top: 10%;
   right: 10%;
    width: 40vh;
}