@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&family=Montserrat:wght@400;700&family=Roboto+Slab:wght@400;700&family=Zen+Dots&display=swap');

:root {
    --orange: #ff8700;
    --lightOrange: #ffa977;
    --lightGrey: #a5a5a5 ;
    --darkGrey: #202732;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, var(--darkGrey), black);
}

#checkoutBox {
    background-image: linear-gradient(var(--lightOrange), var(--orange));
    border: 5px solid black;
    margin: 2% 25% 0 25%;
    font-family: 'Montserrat';
    padding: 1% 2% 1% 2%;

    border-radius: 20px;
}

.section {
    padding-bottom: 2%;
    border-bottom: black solid 2px;
}

#checkoutBox h1 {
    margin: 0;
    text-align: center;
    font-size: 5vh;
    border-radius: 10px;
    border: 3px solid black;
    padding: 1%;
    backdrop-filter: sepia(60%);
}

#checkoutBox h2 {
    font-size: 3vh; 
    font-family: 'Roboto Slab';
}

#checkoutBox h3 {
    margin-left: 2%;
    font-size: 2vh; 
}

#checkoutBox input {
    margin-left: 3%;
    width: 25%;
    font-size: 2vh;
    font-family: 'Lato';
    padding: .5%;
    border: 1px solid black;
    background-color: lightgray;
    color: rgb(80, 87, 96);
}

#orderButton {
    margin-top: 2%;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;

    transition: .8s;
}

#orderButton:hover {
    background-color: var(--darkGrey);
    color: white;
}